<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Dapper-WF" connectionString="Server=DESKTOP-TV3SA0P;Database=Dapper-WF;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
		<add name="EF" connectionString="Server=.;Database=Dapper-WF;Trusted_Connection=True;" providerName="Microsoft.EntityFrameworkCore.SqlServer"/>
	</connectionStrings>
</configuration>